{% if page.title %}
  {% assign title = page.title + " | " + site.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

{% assign desc = page.desc | default: site.desc %}

<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:site_name" content="{{ title }}">  
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:title" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ desc }}">
  <meta name="description" content="{{ desc }}" />
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>